<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin - BaseProjectTemplate.Web.RazorPages</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/pages/admin/_bundles/admin-layout.min.css" />
        <link rel="stylesheet" href="~/css/admin/admin-site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/pages/admin/_bundles/admin-layout.min.css"
              asp-fallback-href="~/pages/_bundles/admin-layout.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/admin/admin-site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        @await Html.PartialAsync("_LoginPartial")
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                               <i class="fa fa-pencil fa-fw"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-pencil fa-fw"></i> Dashboard
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Administration</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        </a>
                    </h6>

                    @await Html.PartialAsync("_ManageNav")
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @await Html.PartialAsync("_StatusMessage")
                @RenderBody()
            </main>
        </div>
    </div>

    @*<footer class="">
            <p>&copy; 2017 - BaseProjectTemplate.Web.RazorPages</p>
        </footer>*@

    <environment include="Development">
        <script src="~/pages/admin/_bundles/admin-layout.min.js"></script>
        <script src="~/js/admin/admin-site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/pages/admin/_bundles/admin-layout.min.js"
                asp-fallback-src="~/pages/_bundles/layout.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/admin/admin-site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>