@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a asp-page="./Index" class="nav-link @ManageNavPagesHelper.IndexNavClass(ViewContext)">
            <i class="fa fa-file fa-fw"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="./ChangePassword" class="nav-link @ManageNavPagesHelper.ChangePasswordNavClass(ViewContext)">
            <i class="fa fa-file fa-fw"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a asp-page="./ExternalLogins" class="nav-link @ManageNavPagesHelper.ExternalLoginsNavClass(ViewContext)">
                <i class="fa fa-file fa-fw"></i> External logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a asp-page="./TwoFactorAuthentication" class="nav-link @ManageNavPagesHelper.TwoFactorAuthenticationNavClass(ViewContext)">
            <i class="fa fa-file fa-fw"></i> Two-factor authentication
        </a>
    </li>
</ul>