@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-users fa-fw"></i> Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-briefcase fa-fw"></i> Roles
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-briefcase fa-fw"></i> Languages
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-briefcase fa-fw"></i> Settings
        </a>
    </li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Administration</span>
    <a class="d-flex align-items-center text-muted" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
    </a>
</h6>

<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a asp-page="./Index" class="nav-link @ManageNavPagesHelper.IndexNavClass(ViewContext)">
            <i class="fa fa-user fa-fw"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="./ChangePassword" class="nav-link @ManageNavPagesHelper.ChangePasswordNavClass(ViewContext)">
            <i class="fa fa-key fa-fw"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a asp-page="./ExternalLogins" class="nav-link @ManageNavPagesHelper.ExternalLoginsNavClass(ViewContext)">
                <i class="fa fa-lock fa-fw"></i> External logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a asp-page="./TwoFactorAuthentication" class="nav-link @ManageNavPagesHelper.TwoFactorAuthenticationNavClass(ViewContext)">
            <i class="fa fa-lock fa-fw"></i> Two-factor authentication
        </a>
    </li>
</ul>