@using BaseProjectTemplate.Web.Core.Extensions
@if (TempData["StatusMessage"] != null)
{
    var viewMessage = TempData.Get<ViewMessage>("StatusMessage");
    string viewMessageClass;

    switch (viewMessage.ViewMessageType)
    {
        case ViewMessageTypes.Info:
            viewMessageClass = "info";
            break;
        case ViewMessageTypes.Success:
            viewMessageClass = "success";
            break;
        case ViewMessageTypes.Warning:
            viewMessageClass = "warning";
            break;
        case ViewMessageTypes.Error:
            viewMessageClass = "danger";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }

    <div class="alert alert-@viewMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @viewMessage.Message
    </div>
}
